{% extends 'base.html' %}

{% block content %}
    <main>
        <h1>My Receipts</h1>
        {% if user.is_authenticated %}
            <li>
                <a href="{% url 'create_receipt' %}">Create a receipt</a>
            </li>

        {% endif %}
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>
                        {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'category_list' %}">Category</a>
                        </li>
                        {% endif %}
                    </th>
                    <th>
                        {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'account_list' %}">Account</a>
                        </li>
                        {% endif %}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for receipt in receipts %}
                <tr>
                    <td>{{ receipt.vendor }}</td>
                    <td>{{ receipt.total }}</td>
                    <td>{{ receipt.tax }}</td>
                    <td>{{ receipt.date|date:"m/d/y" }}</td>
                    <td>{{ receipt.category.name }}</td>
                    <td>{{ receipt.account.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
